extends layout

block content
  h1= "Ações Petrobras"
  p= "Dados históricos e previsão futura"
  

  h2="Prvisão de Fechamento"
  h3#previewPrice

  div#stockChart(style="width: 100%; height: 600px;")

  script(src="https://cdn.plot.ly/plotly-3.0.0.min.js")
  script
    | api_data = []
    | const response = fetch('http://localhost:3001/data');
    | response.then( 
    |   r => r.json().then( 
    |     j => {
    |       j.real_price.type = 'lines';
    |       j.real_price.name = 'Preço Real';
    |       j.real_price.line = {color: 'rgb(100,100,100)', width: 2};
    |       j.pred_price.mode = 'lines';
    |       j.pred_price.name = 'Preço Previsto';
    |       j.pred_price.line = {color: 'rgb(255,80,80)', width: 2};
    |       api_data.push(j.real_price);
    |       api_data.push(j.pred_price);
    |       Plotly.newPlot('stockChart', api_data);
    |       document.getElementById("previewPrice").innerText = `${j.pred_price.x[0].substring(10, -1)}: R$ ${j.pred_price.y[0]}`;
    |     }
    |   )
    | );
    